/* Smart Phones And Tablets*/

@media (max-width:767px){

    .navbar-dark .navbar-nav .nav-item {
        margin-left: 0;
       
    }
   
    .subscribe .form-inline{
        display: block;
        /* width: 100%; */
    }
    .subscribe .form-control{
        margin: 10px auto;
       
    }
}

/*  Small Screen  */
@media (min-width:768px) and (max-width:991px){

}
 /* Meduim Screen  */
@media (min-width:992px) and (max-width:1199px){
    
}

/* Large Screen  */
@media (min-width:1200px){}